# Python virtual environment 
__pycache__/ 
*.py[cod] 
*$py.class 
.env 
backend/.env 
data/db/ 
data/uploads/ 
*.log 
*.pot 
*.sqlite3 
.idea/ 
.vscode/ 
*.DS_Store 
project
trail.ipynb
backend/app/extractor